.cards__container{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.form__container{
  width: 100%;
  min-height: 100vh;
  background-color: #0001;
  backdrop-filter: blur(2px);
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;


}